*{
    margin: 0px;
    padding: 0px;
}
.color{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
}
#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
   
}
h1{
    text-align: center;
    color: purple;
}
#sub{
    background-color: #C850C0;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
   
}
.input{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    
}
.input input {
    border-radius: 5px;
    margin-top: 5px;
    padding: 6px;
    border: 1px solid rgb(17, 229, 49);
    font-size: 20px;
}
.input input:focus{
    outline: 0px;
}
.lab {
    font-size: 27px;
}
#sub:hover{
    background-color:#1ea34d;
}